.df{display: flex;display: -webkit-flex; /* Safari */}
/* 
nowrap（默认）：不换行 
wrap：换行在第一行的上方
wrap-reverse：换行，第一行在下方
*/
.ffrn{flex-flow:row nowrap;}
.ffrw{flex-flow:row wrap;}
.ffrwr{flex-flow:row wrap-reverse;}
.ffrrn{flex-flow:row-reverse nowrap;}
.ffrrw{flex-flow:row-reverse wrap;}
.ffrrwr{flex-flow:row-reverse wrap-reverse;}
.ffcn{flex-flow:column nowrap;}
.ffcw{flex-flow:column wrap;}
.ffcwr{flex-flow:column wrap-reverse;}
.ffcrn{flex-flow:column-reverse nowrap;}
.ffcrw{flex-flow:column-reverse wrap;}
.ffcrwr{flex-flow:column-reverse wrap-reverse;}



/* 
flex-start（默认值）：左对齐 
flex-end：右对齐
center： 居中
space-between：两端对齐，项目之间的间隔都相等。
space-around：每个项目两侧的间隔相等。所以，项目之间的间隔比项目与边框的间隔大一倍。
*/
.jcfs{justify-content:flex-start;}
.jcfe{justify-content:flex-end;}
.jcc{justify-content:center;}
.jcsb{justify-content:space-between;}
.jcsa{justify-content:space-around;}



/* 
flex-start：交叉轴的起点对齐。 
flex-end：交叉轴的终点对齐。
center：交叉轴的中点对齐。
baseline: 项目的第一行文字的基线对齐。
stretch（默认值）：如果项目未设置高度或设为auto，将占满整个容器的高度。
*/
.aifs{align-items:flex-start;}
.aife{align-items:flex-end;}
.aic{align-items:center;}
.aib{align-items:baseline;}
.ais{align-items:stretch;}

/* 
align-content属性定义了多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用。
flex-start：与交叉轴的起点对齐。 
flex-end：与交叉轴的终点对齐。
center：与交叉轴的中点对齐。
space-between：与交叉轴两端对齐，轴线之间的间隔平均分布。
space-around：每根轴线两侧的间隔都相等。所以，轴线之间的间隔比轴线与边框的间隔大一倍。
stretch（默认值）：轴线占满整个交叉轴。
*/
.acfs{align-content:flex-start;}
.acfe{align-content:flex-end;}
.acc{align-content:center;}
.acsb{align-content:space-between;}
.acsa{align-content:space-around;}
.acs{align-content:stretch;}

/*
order属性定义项目的排列顺序。数值越小，排列越靠前，默认为0。
*/
.o0{order:0;}
.o1{order:1;}
.o2{order:2;}
.o3{order:3;}
.o4{order:4;}
.o5{order:5;}
.o6{order:6;}
.o7{order:7;}
.o8{order:8;}
.o9{order:9;}

/*
flex-grow属性定义项目的放大比例，默认为0，即如果存在剩余空间，也不放大。
如果所有项目的flex-grow属性都为1，则它们将等分剩余空间（如果有的话）。如果一个项目的flex-grow属性为2，其他项目都为1，则前者占据的剩余空间将比其他项多一倍。
注意：该属性是瓜分剩下的空间，而并非父元素的百分比长度
*/
.fg0{flex-grow:0;}
.fg1{flex-grow:1;}
.fg2{flex-grow:2;}
.fg3{flex-grow:3;}
.fg4{flex-grow:4;}
.fg5{flex-grow:5;}
.fg6{flex-grow:6;}
.fg7{flex-grow:7;}
.fg8{flex-grow:8;}
.fg9{flex-grow:9;}

/*
flex-shrink属性定义了项目的缩小比例，默认为1，即如果空间不足，该项目将缩小。
如果所有项目的flex-shrink属性都为1，当空间不足时，都将等比例缩小。如果一个项目的flex-shrink属性为0，其他项目都为1，则空间不足时，前者不缩小。
也就是说当空间不足的时候缩小比例，为0代表不缩小，为2就代表比一般的缩小快一倍
*/
.fs0{flex-shrink:0;}
.fs1{flex-shrink:1;}
.fs2{flex-shrink:2;}
.fs3{flex-shrink:3;}
.fs4{flex-shrink:4;}
.fs5{flex-shrink:5;}
.fs6{flex-shrink:6;}
.fs7{flex-shrink:7;}
.fs8{flex-shrink:8;}
.fs9{flex-shrink:9;}

/*
align-self属性允许单个项目有与其他项目不一样的对齐方式，可覆盖align-items属性。默认值为auto，表示继承父元素的align-items属性，如果没有父元素，则等同于stretch。
该属性可能取6个值，除了auto，其他都与align-items属性完全一致。
*/
.asa{align-self:auto;}
.asfs{align-self:flex-start;}
.asfe{align-self:flex-end;}
.asc{align-self:center;}
.asb{align-self:baseline;}
.asb{align-self:stretch;}


.w01{width:4.166666667%;}
.w02{width:8.333333333%;}
.w03{width:12.50000000%;}
.w04{width:16.66666667%;}
.w05{width:20.83333333%;}
.w06{width:25.00000000%;}
.w07{width:29.16666667%;}
.w08{width:33.33333333%;}
.w09{width:37.50000000%;}
.w10{width:41.66666667%;}
.w11{width:45.83333333%;}
.w12{width:50.00000000%;}
.w13{width:54.16666667%;}
.w14{width:58.33333333%;}
.w15{width:62.50000000%;}
.w16{width:66.66666667%;}
.w17{width:70.83333333%;}
.w18{width:75.00000000%;}
.w19{width:79.16666667%;}
.w20{width:83.33333333%;}
.w21{width:87.50000000%;}
.w22{width:91.66666667%;}
.w23{width:95.83333333%;}
.w24{width:100.0000000%;}

.pr {position: relative;}
.pa {position: absolute;}
.pf {position: fixed;}
.fr{float: right;}
.fl{float: left;}



/*
  去除默认样式
*/
div,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
text,
image {
	box-sizing: border-box;
}

button::after{
border:none;
}

input{
outline:none;
border:none;
list-style: none;
}

/*
  height样式
*/
.heightfull{height:100%;}
.h5{height:5px;}
.h10{height:10px;}
.h15{height:15px;}
.h20{height:20px;}
.h25{height:25px;}
.h30{height:30px;}
.h35{height:35px;}
.h40{height:40px;}
.h45{height:45px;}
.h50{height:50px;}
.h60{height:60px;}
.h70{height:70px;}
.h75{height:70px;}
.h85{height:85px;}
.h100{height:100px;}
.h150{height:150px;}
.h160{height:160px;}
.h180{height:180px;}
.h200{height:200px;}
.h240{height:240px;}
.h250{height:250px;}
.h300{height:300px;}
/*
  z-index样式
*/
.z_index888{z-index:888;}
.z_index999{z-index:999;}


/*设置字体超出部分显示...*/
.fp{
  text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap;
}
/*
  font-size样式
*/
.f9{font-size:9px !important;}
.f12{font-size:12px !important;}
.f13{font-size:13px !important;}
.f14{font-size:14px !important;}
.f16{font-size:16px !important;}
.f17{font-size:17px !important;}
.f18{font-size:18px !important;}
.f20{font-size:20px !important;}
.f22{font-size:22px !important;}
.f24{font-size:24px !important;}
.f25{font-size:25px !important;}
.f26{font-size:26px !important;}
.f28{font-size:28px !important;}
.f30{font-size:30px !important;}
.f32{font-size:32px !important;}
.f34{font-size:34px !important;}
.f36{font-size:36px !important;}
.f38{font-size:38px !important;}
.f40{font-size:40px !important;}
.fw1{font-weight:100 !important;}
.fb{font-weight:bold !important;}
.fn{font-weight:normal !important;}

/*
  border样式
*/
.br5{border-radius:5px;}
.br10{border-radius:10px;}
.br12{border-radius:12px;}
.br15{border-radius:15px;}
.br16{border-radius:16px;}
.br20{border-radius:20px;}
.br25{border-radius:25px;}
.br28{border-radius:28px;}
.br30{border-radius:30px;}
.br35{border-radius:35px;}
.br40{border-radius:40px;}
.br45{border-radius:45px;}
.br50{border-radius:50%;}

/*
  margin样式
*/
.m0{margin:0px;}
.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}
.m20{margin:20px;}
.m25{margin:25px;}
.m30{margin:30px;}
.m35{margin:35px;}
.m40{margin:40px;}
.m45{margin:40px;}
.m50{margin:50px;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt22{margin-top:22px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt34{margin-top:34px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt45{margin-top:45px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px;}
.mt90{margin-top:90px;}
.mt100{margin-top:100px;}
.mt150{margin-top:150px;}

.mr5{margin-right:5px;}
.mr8{margin-right:8px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr28{margin-right:28px;}
.mr30{margin-right:30px;}
.mr35{margin-right:35px;}
.mr40{margin-right:40px;}
.mr45{margin-right:45px;}
.mr50{margin-right:50px;}

.mb2{margin-bottom:2px;}
.mb4{margin-bottom:4px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb24{margin-bottom:24px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom:35px;}
.mb40{margin-bottom:40px;}
.mb45{margin-bottom:45px;}
.mb50{margin-bottom:50px;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml35{margin-left:35px;}
.ml40{margin-left:40px;}
.ml45{margin-left:45px;}
.ml50{margin-left:50px;}
.ml60{margin-left:50px;}
.ml140{margin-left:140px;}

.mtb5{margin-top:5px;margin-bottom:5px;}
.mtb10{margin-top:10px;margin-bottom:10px;}
.mtb15{margin-top:15px;margin-bottom:15px;}
.mtb20{margin-top:20px;margin-bottom:20px;}
.mtb25{margin-top:25px;margin-bottom:25px;}
.mtb30{margin-top:30px;margin-bottom:30px;}
.mtb35{margin-top:35px;margin-bottom:35px;}
.mtb40{margin-top:40px;margin-bottom:40px;}
.mtb45{margin-top:45px;margin-bottom:45px;}
.mtb50{margin-top:50px;margin-bottom:50px;}

.mlr5{margin-left:5px;margin-right:5px;}
.mlr10{margin-left:10px;margin-right:10px;}
.mlr15{margin-left:15px;margin-right:15px;}
.mlr20{margin-left:20px;margin-right:20px;}
.mlr25{margin-left:25px;margin-right:25px;}
.mlr30{margin-left:30px;margin-right:30px;}
.mlr35{margin-left:35px;margin-right:35px;}
.mlr40{margin-left:40px;margin-right:40px;}
.mlr45{margin-left:45px;margin-right:45px;}
.mlr50{margin-left:50px;margin-right:50px;}
.mlr60{margin-left:60px;margin-right:60px;}

/*
  padding样式
*/
.p2{padding:2px;}
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p18{padding:18px;}
.p20{padding:20px;}
.p25{padding:25px;}
.p30{padding:30px;}
.p35{padding:35px;}
.p40{padding:40px;}
.p45{padding:45px;}
.p50{padding:50px;}

.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt19{padding-top:19px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt35{padding-top:35px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}

.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}
.pr30{padding-right:30px;}
.pr35{padding-right:35px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}

.pb2{padding-bottom:2px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb19{padding-bottom:19px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb35{padding-bottom:35px;}
.pb40{padding-bottom:40px;}
.pb45{padding-bottom:45px;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}

.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pl26{padding-left:26px;}
.pl30{padding-left:30px;}
.pl35{padding-left:35px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}

.ptb5{padding-top:5px;padding-bottom:5px;}
.ptb8{padding-top:8px;padding-bottom:8px;}
.ptb10{padding-top:10px;padding-bottom:10px;}
.ptb15{padding-top:15px;padding-bottom:15px;}
.ptb20{padding-top:20px;padding-bottom:20px;}
.ptb25{padding-top:25px;padding-bottom:25px;}
.ptb30{padding-top:30px;padding-bottom:30px;}
.ptb35{padding-top:35px;padding-bottom:35px;}
.ptb40{padding-top:40px;padding-bottom:40px;}
.ptb45{padding-top:45px;padding-bottom:45px;}
.ptb50{padding-top:50px;padding-bottom:50px;}

.plr5{padding-left:5px;padding-right:5px;}
.plr10{padding-left:10px;padding-right:10px;}
.plr15{padding-left:15px;padding-right:15px;}
.plr20{padding-left:20px;padding-right:20px;}
.plr25{padding-left:25px;padding-right:25px;}
.plr30{padding-left:30px;padding-right:30px;}
.plr35{padding-left:35px;padding-right:35px;}
.plr40{padding-left:40px;padding-right:40px;}
.plr45{padding-left:45px;padding-right:45px;}
.plr50{padding-left:50px;padding-right:50px;}
.plr60{padding-left:60px;padding-right:60px;}

page {
  --darkOrchid:#A135EF;
	--red: #e54d42;
	--orange: #f37b1d;
	--yellow: #fbbd08;
	--olive: #8dc63f;
	--green: #39b54a;
	--cyan: #1cbbb4;
	--blue: #0081ff;
	--purple: #6739b6;
	--mauve: #9c26b0;
	--pink: #e03997;
	--brown: #a5673f;
	--grey: #8799a3;
	--black: #131313;
	--darkGray: #666666;
	--gray: #aaaaaa;
	--ghostWhite: #f1f1f1;
	--white: #ffffff;
	/* 浅色 */
	--redLight: #fadbd9;
	--orangeLight: #fde6d2;
	--yellowLight: #fef2ce;
	--oliveLight: #e8f4d9;
	--greenLight: #d7f0db;
	--cyanLight: #d2f1f0;
	--blueLight: #cce6ff;
	--purpleLight: #e1d7f0;
	--mauveLight: #ebd4ef;
	--pinkLight: #f9d7ea;
	--brownLight: #ede1d9;
	--greyLight: #e7ebed;
	/* 渐变色 */
	--gradualRed: linear-gradient(45deg, #f43f3b, #ec008c);
	--gradualOrange: linear-gradient(45deg, #ff9700, #ed1c24);
	--gradualGreen: linear-gradient(45deg, #39b54a, #8dc63f);
	--gradualPurple: linear-gradient(45deg, #9000ff, #5e00ff);
	--gradualPink: linear-gradient(45deg, #ec008c, #6739b6);
	--gradualBlue: linear-gradient(45deg, #0081ff, #1cbbb4);
	/* 阴影透明色 */
	--ShadowSize: 6px 6px 8px;
	--redShadow: rgba(204, 69, 59, 0.2);
	--orangeShadow: rgba(217, 109, 26, 0.2);
	--yellowShadow: rgba(224, 170, 7, 0.2);
	--oliveShadow: rgba(124, 173, 55, 0.2);
	--greenShadow: rgba(48, 156, 63, 0.2);
	--cyanShadow: rgba(28, 187, 180, 0.2);
	--blueShadow: rgba(0, 102, 204, 0.2);
	--purpleShadow: rgba(88, 48, 156, 0.2);
	--mauveShadow: rgba(133, 33, 150, 0.2);
	--pinkShadow: rgba(199, 50, 134, 0.2);
	--brownShadow: rgba(140, 88, 53, 0.2);
	--greyShadow: rgba(114, 130, 138, 0.2);
	--grayShadow: rgba(114, 130, 138, 0.2);
	--blackShadow: rgba(26, 26, 26, 0.2);
  
  --page-color:var(--darkOrchid);
  background: #f8f8f8;
  min-height: 100vh;
	font-size: 28px;
	color: var(--black);
	font-family: Helvetica Neue, Helvetica, sans-serif;
}

