# OSX
.DS_Store

# IDE
.idea
.vscode

# npm
node_modules
yarn.lock
package-lock.json
pnpm-lock.json

# jest
coverage
jest.config.js

# dev
src
test
test-node
types
build
babel.config.js
dist
script


#doc
CODE_OF_CONDUCT.md
CONTRIBUTING.md
docs

#other
.travis.yml
karma.sauce.conf.js
.github
.prettierrc
.eslintrc.json
.gitignore
.eslintrc.js
tsconfig.json
_config.yml